@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("hero-bg.jpg") no-repeat center;
    background-size: cover;

}
body::before {
    content: "";
    position: absolute; z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
}

.modify-form {position: relative; z-index: 2;}
.modify-form h1{
    font-size: 24px; color: #FFF;
    text-align: left;
    margin-bottom: 10px;
}

.btn-area {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  margin-top: 10px;  
  border-radius: 12px;
  color: #ffffff;
  font-size: 12px;
  background: #e4685d;
  padding: 5px 10px 5px 10px;
  border: solid #ffffff 1px;
  text-decoration: none;
}

.btn-area:hover {
  background: #eb675e;
  text-decoration: none;
}